#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-tabs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  flex: 1;
  text-align: center;
}

.nav-tabs .nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-content {
  padding: 10px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.mgnfng-glss {
  all: initial;
  position: fixed;
  top: 0;
  right: 0;
  background-position: top right;
  z-index: 1000;
  border-radius: 50%;
  cursor: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #ccc, 0 0 0 4px #fff;
  filter: drop-shadow(0 0 5px #ccc);
}
.mgnfng-glss.hidden {
  display: none;
}

