#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input, textarea{
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: black;
}

textarea::placeholder{
  color: rgb(132, 132, 132);
}

input[type="radio"]{
  margin-right: 0.5rem;
}


.accordion{
  min-width: 280px;
  max-width: 400px;
  width: 100%;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#magnifyingScaleContainer{
  display: flex;
  flex-direction: row;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.mgnfng-glss {
  all: initial;
  position: fixed;
  top: 0;
  right: 0;
  background-position: top right;
  z-index: 1000;
  border-radius: 50%;
  cursor: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #ccc, 0 0 0 4px #fff;
  filter: drop-shadow(0 0 5px #ccc);
}

.mgnfng-glss.rectangular {
  border-radius: 0;
  width: 150px; 
  height: 100px; 
}

.mgnfng-glss.hidden {
  display: none;
}

.input-label{
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}

.scale{
  margin-bottom: 0.2rem;
}

#tts-button-container button{
  margin: 0.5rem 0;
}

.shortcut-hint {
  font-size: 0.75rem;
  color: #6c757d; /* Bootstrap's text-muted color */
  text-align: center;
}